<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />

	<typeAliases>
		<typeAlias alias="boardVO" type="kr.ac.kopo.vo.BoardVO" />
		<typeAlias alias="memberVO" type="kr.ac.kopo.vo.MemberVO" />
		<typeAlias alias="leaderboardVO" type="kr.ac.kopo.vo.LeaderboardVO" />
		<typeAlias alias="favoritesVO" type="kr.ac.kopo.vo.FavoritesVO" />
		<typeAlias alias="gameVO" type="kr.ac.kopo.vo.GameVO" />
		<typeAlias alias="GameApplicationVO" type="kr.ac.kopo.vo.GameApplicationVO" />
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="/common/db/board.xml" />
		<mapper resource="/common/db/MemberBoard.xml" />
		<mapper resource="/common/db/leaderboard.xml" />
		<mapper resource="/common/db/favorites.xml" />
		<mapper resource="/common/db/reply.xml"/>
		<mapper resource="/common/db/game.xml"/>
		<mapper resource="/common/db/gameApplication.xml" />
	</mappers>
	

</configuration>